<div class="container">
  <div class="row">
    <h1>My bookings</h1>
    <% @rents.each do |rent| %>
      <%= render 'card-rent', rent: rent %>
    <% end %>

    <div class="bike-card-actions">
      <%= link_to 'Back to dashboard', dashboard_path %>
    </div>
</div>
</div>
