<div class="container">
    <h1>My bookings</h1>
    <div class="row">
      <% @rents.each do |rent| %>
        <div class="col-6">
          <%= render 'card-rent', rent: rent %>
        </div>
      <% end %>
    </div>

    <div class="bike-card-actions">
      <%= link_to 'Back to dashboard', dashboard_path %>
    </div>
</div>
